
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


h1 {
   
    font-family: 'Cherry Swash', cursive;
}

nav > a {

    font-family: 'Cherry Swash', cursive;
background-color: #e3caa5;
text-decoration: none ;
color: black;
padding: 12px 13px;
}

nav > a:hover {
background-color: #fffbe9a3;
}
body { 
    background: #ceab93;
    text-align: center;
}
main {
    max-width: 1000px;
    margin: auto;
}
nav{ 
    background-color: #e3caa5;
    padding: 12px 13px;
    position : sticky;
    top: 0;
}

.Casual_Text_Class{
    font-family: 'Hi Melody', cursive;
    font-size: xx-large;
}

.CasualSub{
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
    font-weight: 50;
}
.center {
    text-align: center;
}
#ProjectsHead {
text-decoration: underline;
}
.Skillset {
    font-size: xxx-large;
    font-weight: 600;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

input, textarea {
    background-color: #E3caa5;
    border-radius: 10px;
    padding: 8px;
    border-color: #ad8b73;
    border-width: 0px 0px 5px 0px;
}

input[type="reset"], input[type="submit"]{
padding: 5px;
background-color: #fffbe1;
}

 #Img_FixGit{
    font-size: xxx-large;
    color: black;
    text-decoration: none;
}

#Img_FixEmail{
    font-size: xxx-large;
    color: black;
    text-decoration: none;
}
#Img_FixPhone{
    font-size: xxx-large;
    color: black;
    text-decoration: none;
}
#Image_Hover:hover{
    
}
