
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

p {
    font-family: 'Caladea', serif;
}

h1 {
   
    font-family: 'Cherry Swash', cursive;
}

nav > a {

    font-family: 'Cherry Swash', cursive;
background-color: #e3caa5;
text-decoration: none;
color: black;
padding: 12px 13px;
}
nav > a:hover {
background-color: #fffbe9a3;
}
body { 
    background: #ceab93
}
nav{ 
    background-color: #e3caa5;
    padding: 12px 13px;
}
.zest {
    text-align: center;
}